<!-- <div.custom-games_view> ui-view -->
  <div class="container-fluid create-view animated zoomIn">  
        <!-- row start -->    
        <div class="row" ng-hide="base.isUpdaterWorking">
            <uib-tabset justified="true">
                <uib-tab heading="Online">
                    <table class="table table-hover"> 
                        <tr><td>Dedicated </td><td><input ng-model="createCustomGame.server.isDedicated" type="checkbox"></td></tr>
                        <tr><td>IP Address</td><td><input ng-model="createCustomGame.server.ipAddress" type="text"></td></tr>
                        <tr><td>Players № </td><td><input ng-model="createCustomGame.server.playersNumb" type="text"></td></tr>
                        <tr><td>Game Type </td><td><input ng-model="createCustomGame.server.gameType" type="text"></td></tr>
                        <tr><td>Pure </td><td><input ng-model="createCustomGame.server.isPure" type="checkbox"></td></tr>
                        <tr><td>Map </td>
                            <td>
                            <select ng-options="map.name for map in createCustomGame.maps track by map.name" 
                                    ng-model="createCustomGame.server.map"> 
                            </select>
                            </td>
                        </tr>
                    </table>  
                    <button type="button" class="btn btn-block btn-lg btn-warning" ng-click="createCustomGame.Create(createCustomGame.server)">Create Game</button>
                    <br>
                </uib-tab>
                <uib-tab heading="Offline">
                    <div class="container-fluid maps-view-search">
                        <input type="text" placeholder="> search map" ng-model="createCustomGame.searchMapText" />
                    </div>
                    <div class="container-fluid maps-view"> 
                        <br>
                        <div class="col-sm-4 col-md-4 col-lg-3 map animated slideInDown" ng-repeat="map in createCustomGame.maps  | filter:createCustomGame.searchMapText | orderBy:'rank'">
                            <div class="thumbnail" style="background-image: url('{{ map.preview }}'); background-position: center;">
                            <img class="pull-right" ng-src="{{ map.logo }}" alt="{{ map.title }}">
                            <div class="caption">
                                <h3>{{ map.title }}</h3>
                                <p>{{ map.description }}</p>
                                <!--<p><a ng-href="{{map.url}}">{{ map.title }} link</a></p>-->
                            </div>
                            <button type="button"
                                    class="btn btn-lg btn-success" 
                                    ng-click="createCustomGame.startMap(map.title)" 
                                    popover="{{map.description}}"  
                                    popover-trigger="mouseenter">
                                Play!
                            </button>
                            </div>
                        </div>
                    </div>  
                </uib-tab>
            </uib-tabset>
        </div>  
        <!-- row end -->

        <!-- row start -->    
        <div class="row" ng-show="base.isUpdaterWorking">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <p class="text-center">GAME DATA UPDATE IN PROGRESS...</p>
                </div>
            </div>
        </div>
   </div>
<!-- </div.custom-games_view> -->
