<!-- <div.custom-games_view> ui-view -->
      <!-- row start -->
    <div class="row">
      <div class="col-md-12 animated fadeInDown">
        <div class="jumbotron text-center">
          <h1 class="lead animated infinite">Join Custom Games</h1>
        </div>
      </div>
    </div>
    <!-- row end -->
  <div class="container-fluid">
    <!-- row start -->  
    <div class="row">
      <uib-tabset justified="true">
        <uib-tab heading="Unmanaged">
          <table class="table table-hover"> 
            <thead>
              <tr><td>ID</td><td>Server Name</td><td>Info</td><td></td></tr>
            </thead>
            <tbody>
              <tr ng-repeat="server in joinCustomGame.listOfFreeGames">
                <td>{{server.id}}</td>
                <td>{{server.name}}</td>
                <td>{{server.info}}</td>
                <td><button type="button" class="btn btn-block btn-lg btn-warning" 
                    ng-click="joinCustomGame.Join(server.server.ip,server.port)"
                    ng-disabled="base.isUpdaterWorking">
                    Join Game</button>
                </td>
              </tr>
            </tbody>
          </table>  
          <!--<button type="button" class="btn btn-block btn-lg btn-warning" ng-click="createCustomGame.Create(createCustomGame.server)" ng-disabled="true">Join</button>-->
        </uib-tab>
        <uib-tab heading="Manual">
          <table class="table table-hover"> 
            <tr><td>IP Address</td><td><input ng-model="joinCustomGame.ip" type="text"></td></tr>
            <tr><td>Port</td><td><input ng-model="joinCustomGame.port" type="number"></td></tr>
          </table> 
          <button type="button" class="btn btn-block btn-lg btn-warning" 
                  ng-click="joinCustomGame.TestAvaliability(joinCustomGame.ip,joinCustomGame.port)"
                  ng-disabled="base.isUpdaterWorking">
                  Test Avaliability
          </button>
          <button type="button" class="btn btn-block btn-lg btn-warning" 
                  ng-click="joinCustomGame.Join(joinCustomGame.ip,joinCustomGame.port)"
                  ng-disabled="base.isUpdaterWorking">
                  Join Game
          </button>
        </uib-tab>
      </uib-tabset>
    </div>  
    <!-- row end --> 
   </div>
<!-- </div.custom-games_view> -->
