<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="base.main">
        <span class="glyphicon glyphicon-font"></span><sup>TOURNAMENT</sup>|
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav" >
        <li ui-sref-active="active" ng-repeat="bookmark in base.bookmarks | orderBy:'name'"><a ui-sref="{{ bookmark.state }}">{{ bookmark.name }}</a></li>   
      </ul>
    
      <div class="navbar-right toolbar-close-btn" ng-click="base.Close()">
        CLOSE
      </div>
      <div class="navbar-right toolbar-kiosk-btn" ng-click="base.ToggleKioskMode()" ng-hide="base.launcher.isMiniMode">
        TOGGLE FULLSCREEN
      </div>      
      
      <ul class="nav navbar-nav navbar-right" ng-hide="true">
        <li><sup><a href="#">Login</a></sup></li>
        <li>&nbsp;or&nbsp;</li>
        <li><sub><a href="#">Register</a></sub></li>
      </ul>

      <div class="navbar-right update-info" ng-show="base.isUpdaterWorking" >
        UPDATING: {{base.contentUpdateProgress}}%
        <div class="progress-line animated infinite flash" style="width: {{base.contentUpdateProgressShort}}%;"></div>
      </div>

    </div>
  </div>
</nav>
