<div class="container-fluid maps-view  animated zoomIn">
  <div class="row">
    <div class="col-md-12">
      <uib-accordion close-others="true" >
        <uib-accordion-group heading="Bookmarks" panel-class="panel-primary" is-open="false" is-disabled="false">
          <div class="animated fadeInDown pull-left" ng-repeat="bookmark in base.bookmarks | orderBy:'id'"> 
            <span class="label label-info">
              {{bookmark.name}}          
              <button class="btn btn-xs btn-warning" type="button" ng-click="base.bookmarks.splice($index,1)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </span> 
          </div>
        </uib-accordion-group>
        <uib-accordion-group heading="Settings" panel-class="panel-primary" is-open="false" is-disabled="false">
            <table class="table">
                <tr>
                    <td>Config</td>
                    <td><button class="btn btn-xs btn-primary" type="button" ng-click="options.openCfgEditor()"><span class="glyphicon glyphicon-edit"></span></button></td>
                </tr>
            </table>

        </uib-accordion-group>
      </uib-accordion> 
    </div>
  </div>
</div>
