<div class="container-fluid main-view">
    <!-- NORMAL MODE SECTION-->
    <div class="row launcher-normal" ng-hide="base.launcher.isMiniMode">
        <div class="col-md-8">
            <div class="jumbotron text-center">
                <p class="lead animated"  ng-class="main.classAnimation">
                    <img src="assets/images/adrenaline-tournament-logo.png" alt="HeadDrop Logo"><br>
                    Prototype Testing Stage.
                    <hr>
                    <div class="row" ng-repeat="entry in main.latestNews">
                        <div class="col-md-12">
                            <h2>{{entry.title}}<sup>{{entry.time}}</sup></h2>
                            <p>{{entry.content}}</p>
                        </div>
                    </div>
                </p>
                <p>
                <button type="button" class="btn btn-lg btn-success" 
                        ng-click="main.startGame()" ng-disabled="base.isUpdaterWorking">
                        Start HLAG!
                </button>
                </p>
            </div>
        </div>

        <div class="col-md-4  animated fadeIn">
        
        <a ui-sref="base.games">
            <div class="col-md-12 main-option games">
            <h1 class="text-center">GAMES</h1>
            </div>
        </a>
        
        <a ui-sref="base.news">
            <div class="col-md-12 main-option news">
            <h1 class="text-center">NEWS</h1>
            </div>
        </a>
                
        <div class="col-md-12 main-option units">
            
            <a ui-sref="base.players">
            <div class="players">
                <p class="text-center">PLAYERS</p>
                <ul class="list-group">
                <li class="list-group-item" ng-repeat="player in base.players | limitTo: 3"><span class="badge">{{player.score}}</span> {{player.name}}</li>
                </ul>
            </div>
            </a>
            
            <a ui-sref="base.teams">
            <div class="teams">
                <p class="text-center">TEAMS</p>
                <ul class="list-group">
                <li class="list-group-item" ng-repeat="team in base.teams | limitTo: 3"><span class="badge">{{team.score}}</span> {{team.name}}</li>        
                </ul>
            </div>
            </a>
            
        </div>
        </div>
    </div>
    <!-- END NORMAL MODE SECTION-->

    <!-- MINI MODE -->
    <div class="row launcher-mini" ng-show="base.launcher.isMiniMode">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <div class="pull-left logo">
                    <p class="lead animated"  ng-class="main.classAnimation">
                        <img src="assets/images/adrenaline-tournament-logo.png" alt="HeadDrop Logo">
                    </p>
                </div>
                <div class="pull-right news">
                    <div class="row" ng-repeat="entry in main.latestNews">
                        <div class="col-md-12">
                            <h2>{{entry.title}}<sup>{{entry.time}}</sup></h2>
                            <p>{{entry.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 animated fadeIn">
            <button type="button" class="btn btn-block btn-lg btn-success" ng-click="main.startGame()" ng-disabled="base.isUpdaterWorking">Start Adrenaline Tournament!</button><br>
            <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="base.switchState('base.games.custom.create')">Create Custom Game</button><br>
            <button type="button" class="btn btn-block btn-lg btn-info" ng-click="base.switchState('base.games.custom.join')">Join Custom Game</button><br>
            <!--<button type="button" class="btn btn-block btn-lg btn-warning" ng-click="base.switchState('base.games.custom.watch')" ng-disabled="true">Watch Custom Game</button><br>-->
        </div>
    </div>
    <!-- END MINI MODE SECTION-->
</div>
