/* app css stylesheet */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  background-image: url(../../assets/images/player.jpg);
  -webkit-animation: animatedBackground 10s cubic-bezier(0.25,0.5,0.75,1) infinite;
  overflow: hidden;
}

/* -------------------- ANIMATIONS --------------------- */
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: -128px -128px; }
    100% { background-position: 0 0; }
}
/* ________________ ANIMATIONS END _____________________ */

/* -------------------- COMMONS --------------------- */
.custom-option {
    
}

.custom-option {
    
}
/* ________________ ANIMATIONS END _____________________ */

/* -------------------- MENU BAR ----------------------- */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* ____________________ MENU BAR END ___________________ */

/* --------------------- MAIN VIEW --------------------- */
  .main-view div.main-option {
    margin-top: 10px;
    height: 190px; 
    background-size: contain;
    color: black; 
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out;
    border-radius: 5px; 
  }
  .main-view div.main-option:hover {
    opacity: 1;
  }
  .main-view div.main-option h1{
    color: white; 
    text-shadow: 0 0 10px black
  }
  
  .main-view div.main-option.games {
    background-image: url('../../assets/images/maps/default.png');
  }
  .main-view div.main-option.maps {
    background-image: url('../../assets/images/maps/default.png');
  }
  .main-view div.main-option.players {
    background-image: url('../../assets/images/maps/default.png');
  }
  .main-view div.main-option.statistics {
    background-size: cover;
    background-image: url('../../assets/images/statistics.jpg');
  }
  /* players-teams start */
  .main-view div.main-option.units {
    background-image: url('../../assets/images/teams/default.jpg');
    overflow: hidden;
  }
  .main-view div.main-option.units div{
    height: 100%; width: 50%; 
    float: left; opacity: 0.8;
    color: black;
    font-weight: bold;
  }
  .main-view div.main-option.units div:hover{
    opacity: 1;
  }
  .main-view div.main-option.units div.teams {
    background: -webkit-repeating-linear-gradient(-0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5) 25px, rgba(255,255,255,1) 25px, rgba(255,255,255,1) 50px);
  }
  .main-view div.main-option.units div.teams:hover {
    background: -webkit-repeating-linear-gradient(-0deg, rgba(255,255,255,1), rgba(255,255,255,1) 25px, rgba(255,255,255,0.75) 25px, rgba(255,255,255,0.75) 50px);
  }
  .main-view div.main-option.units div.players {
    background: -webkit-repeating-linear-gradient(90deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5) 25px, rgba(255,255,255,1) 25px, rgba(255,255,255,1) 50px);
  }
  .main-view div.main-option.units div.players:hover {
    background: -webkit-repeating-linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,1) 25px, rgba(255,255,255,0.75) 25px, rgba(255,255,255,0.75) 50px);
  }
  /* players-teams end */
  
  .main-view div.main-option.tv {
    background-color: white;
    background-image: url('../../assets/images/tv.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
/* _________________ MAIN VIEW END _____________________ */

/* -------------------- GAMES VIEW --------------------- */


.games-view div.games-option {
  height: 190px; 
  background-size: contain;
  color: black; 
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px; 
}
.games-view div.games-option:hover {
  opacity: 1;
}
.games-view div.games-option h1{
  color: white; 
  text-shadow: 0 0 10px black
}
.games-view div.games-option {
  background-image: url('../../assets/images/maps/default.png');
  text-decoration: none;
}
.games-view div.games-option.tournaments {
  background-image: url('../../assets/images/maps/default.png');
}
.games-view div.games-option.championships {
  background-image: url('../../assets/images/maps/default.png');
}
.games-view div.games-option.custom {
  background-image: url('../../assets/images/maps/default.png');
}
.games-view a:hover{
  text-decoration: none !important;
}
  /* Custom Games View - Create */
  /* for 720p */
  @media all and (max-height: 800px) and (min-height: 600px) {
    .custom-games_view .create-view .tab-content .tab-pane {
      max-height: 550px; overflow: auto
    }
  }
  /* for 1080p */
  @media all and (max-height: 1200px) and (min-height: 1000px) {
    .custom-games_view .create-view .tab-content .tab-pane {
      max-height: 910px; overflow: auto
    }
  }
  
/* _________________ GAMES VIEW END ____________________ */

/* -------------------- MAPS VIEW ---------------------- */
.maps-view .map > div.thumbnail {
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}
.maps-view .map > div.thumbnail:hover {
  opacity: 1;
}
.maps-view .map > div.thumbnail > img {
    width: 10%; 
}
.maps-view .map > div.thumbnail > div.caption {
    text-shadow: 0 0 10px white;
}
.maps-view .map > div.thumbnail > div.caption p {
    background: rgba(255, 250, 250, 0.16);
    color: black;
}
.maps-view .map > div.thumbnail > div.caption a {
    text-shadow: 0 0 10px white;
    font-weight: bold;
    color: #292D4C;
}
/* __________________ MAPS VIEW END ____________________ */

/* --------------- BOOTSTRAP OVERWRITTEN --------------- */
.jumbotron{
  opacity: 0.9
}
.launcher-toolbar > nav.navbar-inverse {
  background: black;
}
.container-fluid {
  max-width: 1920px;
}
.tab-content {
  background-color: rgba(255, 255, 255, 0.90);
  border-width: 0px 1px 1px 1px !important;
  border-color: silver !important;
  border-style: solid;
}

.nav-tabs li a{
  background: rgba(238, 238, 238, 0.85);
}
.nav-tabs li:nth-child(2).active a{
  background: #BCBCD0 !important;
  border-width: 0 15px 1px 0 !important;
  border-color: #BCBCBC;
}

.btn.btn-primary-hd {
  background-image: -webkit-linear-gradient(top, #5320BB 0%, #265a88 100%);
  background-image: -o-linear-gradient(top, #5320BB 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #5320BB 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.btn.btn-primary-hd, 
.btn.btn-warning-hd, 
.btn.btn-info-hd {
  border-radius: 0; 
  border: 1px solid black;
  outline: 0;
  color: rgb(219, 219, 219)
}
.btn.btn-primary-hd:hover,
.btn.btn-warning-hd:hover,
.btn.btn-info-hd:hover
{
  border: 1px solid black;
  outline: 0;
  color: white;
}
/* REFACTOR BTN */
.panel > .panel-heading button{
  border-radius: 0 15px 0px 0px;
  border: 1px solid;
  background: silver;
  outline: 0;
}
.panel > .panel-heading button:hover{
  border-radius: 0 15px 0px 0px;
  border: 1px solid black;
  outline: 0;
  background: white;
  color: black;
}
.panel > .panel-heading button:active{
  border: 1px solid yellow;;
  background: white;
  color: yellow;
}
/* _____________ BOOTSTRAP OVERWRITTEN END _____________ */

/* ----------------- LAUNCHER TOOLBAR -------------------*/
.launcher-toolbar > nav.navbar-inverse div.toolbar-close-btn {
  padding: 0 5px;
  color: white;
  background: red;
  cursor: pointer;
}
.launcher-toolbar > nav.navbar-inverse div.toolbar-kiosk-btn {
  margin: 0 5px;
  padding: 0 5px;
  color: white;
  background: slateblue;
  cursor: pointer;
}
.launcher-toolbar > nav.navbar-inverse div.update-info {
  width: 120px;
  background: rgba(132, 132, 132, 0.5);
  outline: 1px solid silver;
  color: white;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 8pt;
  text-align: center;
}
.launcher-toolbar > nav.navbar-inverse div.update-info>div.progress-line {
  background-color: rgb(219, 102, 13); 
  height: 10px;
  border-style:solid;
  border-color:silver;
  border-width: 0 1px 0 1px;
}


.launcher-panel-bottom {
  position: absolute; 
  bottom: 0; 
  height: 5px; 
  width: 100%; 
  background: black;
  color: white;
  opacity: 0.9;
  transition: height 0.5s ease-in-out;
}
.launcher-panel-bottom:hover {
  height: 200px;
  transition: height 0.5s ease-in-out;
}

.launcher-panel-left {
  position: absolute; 
  left: 0; 
  top: 0;
  width: 5px; 
  height: 100%; 
  padding-top: 50px;
  background: black;
  color: white;
  opacity: 0.9;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}
.launcher-panel-left:hover {
  width: 200px;
  transition: width 0.5s ease-in-out;
}
/* _______________ LAUNCHER TOOLBAR END _________________*/