<div class="container-fluid players-view  animated zoomIn">
  
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1>Players</h1>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="player in base.players"><span class="badge">{{player.score}}</span> {{player.name}}</li>
            </ul>
      </div>
    </div>
  </div>
</div>
