/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bootstrap/fonts/';

/* app css stylesheet */

html {
  height: 100%;
  width: 100%;
}

body {
    height: 100%;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    // background-image: url(../../assets/images/background.jpg);
    background-color: #292929;
    background-size: 100%;
    /*-webkit-animation: animatedBackground 10s cubic-bezier(0.25,0.5,0.75,1) infinite;*/
    overflow: hidden;
}

/* -------------------- ANIMATIONS --------------------- */
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    50% { background-position: -128px -128px; }
    100% { background-position: 0 0; }
}
/* ________________ ANIMATIONS END _____________________ */

/* -------------------- COMMONS --------------------- */
.custom-option {
    
}

.custom-option {
    
}
/* ________________ ANIMATIONS END _____________________ */

/* -------------------- MENU BAR ----------------------- */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* ____________________ MENU BAR END ___________________ */

/* --------------------- MAIN VIEW --------------------- */
  .main-view {
    h1{
        color: white; 
        text-shadow: 0 0 10px black
    }

    .jumbotron {
        border-radius: 0px;
        overflow-y: auto; 
    }

    .launcher-normal {
        .jumbotron {
           height: 630px;
        }
        div.main-option {
            margin-bottom: 30px;
            height: 190px; 
            background-size: contain;
            color: black; 
            opacity: 0.8;
            transition: opacity 0.5s ease-in-out;
            border-radius: 0px;
            border: 1px solid black;
            &:hover {
                opacity: 1;
            }
        }
        
        div.main-option.games {
            background-image: url('../../assets/images/main/item-games-bg.jpg');
            background-size: 100%;
        }
        div.main-option.maps {
            background-image: url('../../assets/images/maps/default.png');
        }
        div.main-option.players {
            background-image: url('../../assets/images/maps/default.png');
        }
        div.main-option.statistics {
            background-size: cover;
            background-image: url('../../assets/images/main/item-statistics-bg.jpg');
        }
        /* players-teams start */
        div.main-option.units {
            background-size: 100%;
            background-image: url('../../assets/images/main/item-units-bg.jpg');
            overflow: hidden;
        }
        div.main-option.units div{
            height: 100%; width: 50%; 
            float: left; opacity: 0.8;
            color: black;
            font-weight: bold;
        }
        div.main-option.units div:hover{
            opacity: 0.9;
        }
        div.main-option.units div.teams {
            
        }
        div.main-option.units div.teams:hover {
            background: white;
        }
        div.main-option.units div.players {
            
        }
        div.main-option.units div.players:hover {
            background: white;
        }
        /* players-teams end */
        
        div.main-option.tv {
            background-color: white;
            background-image: url('../../assets/images/main/item-tv-bg.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        div.main-option.news {
            background-image: url('../../assets/images/main/item-news-bg.jpg');
            background-size: 100%;
        }
    }

    .launcher-mini {
        .jumbotron {
            height: 420px;
            border: 1px solid black;
            padding: 0px;

           .lead img {
                margin-left: -50px;
                margin-top: 10px;
           }

           div.logo {
                height: 415px;
                width: 500px;
                overflow: hidden;
           }
           div.news {
                height: 415px;
                width: 240px;
                overflow-x: hidden;
                overflow-y: auto;


                h2 {
                    padding-top: 2px;
                    color: #494f5e;
                    background: #22cce9;
                    border-top: 1px solid #535f87;
                    border-bottom: 1px solid #4e5774;
                    border-left: 1px solid #47588a;
                    box-shadow: 1px 1px 5px black;
                }
                p {
                    font-size: 14px;
                }
           }
        }
    }
        
  }
/* _________________ MAIN VIEW END _____________________ */

/* -------------------- GAMES VIEW --------------------- */


.games-view div.games-option {
  height: 190px; 
  background-size: contain;
  color: black; 
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px; 
}
.games-view div.games-option:hover {
  opacity: 1;
}
.games-view div.games-option h1{
  color: white; 
  text-shadow: 0 0 10px black
}
.games-view div.games-option {
  background-image: url('../../assets/images/maps/default.png');
  text-decoration: none;
}
.games-view div.games-option.tournaments {
  background-image: url('../../assets/images/maps/default.png');
}
.games-view div.games-option.championships {
  background-image: url('../../assets/images/maps/default.png');
}
.games-view div.games-option.custom {
  background-image: url('../../assets/images/maps/default.png');
}
.games-view a:hover{
  text-decoration: none !important;
}
  /* Custom Games View - Create */
  /* for 720p */
  @media all and (max-height: 800px) and (min-height: 600px) {
    .custom-games_view .create-view .tab-content .tab-pane {
      max-height: 590px; overflow: auto
    }
  }
  /* for 1080p */
  @media all and (max-height: 1200px) and (min-height: 1000px) {
    .custom-games_view .create-view .tab-content .tab-pane {
      max-height: 910px; overflow: auto
    }
  }
  
/* _________________ GAMES VIEW END ____________________ */

/* -------------------- MAPS VIEW ---------------------- */
.maps-view-search {
    margin: 1px;
    max-height: 30px;
    text-align: center;
    input {
        width: 50%;
        background: #292929;
        color: #fff;
        text-align: center;
        border: 1px solid #444444;
        outline: 1px solid #757575;
    }
}
.maps-view {
    max-height: 560px;
    overflow: auto
}
.maps-view .map > div.thumbnail {
  background-repeat: no-repeat; 
  background-size: cover;
  opacity: 0.9;
  transition: opacity 0.5s ease-in-out;
}
.maps-view .map > div.thumbnail:hover {
  opacity: 1;
}
.maps-view .map > div.thumbnail > img {
    width: 10%; 
}
.maps-view .map > div.thumbnail > div.caption {
    height: 200px;
    overflow: auto; 
}
.maps-view .map > div.thumbnail > div.caption h3 {
    word-wrap: break-word;
    color: #000;
    text-shadow: 0 0 5px #000;
    font-size: 20px;
    background: hsla(0, 0%, 58%, 0.5);
}
.maps-view .map > div.thumbnail > div.caption p {
    background: rgba(255, 250, 250, 0.16);
    color: black;
}
.maps-view .map > div.thumbnail > div.caption a {
    font-weight: bold;
    color: #DDD;
    text-shadow: 0 0 10px black;
    //color: #292D4C;
    //text-shadow: 0 0 10px white;
}
/* __________________ MAPS VIEW END ____________________ */

/* --------------- BOOTSTRAP OVERWRITTEN --------------- */
.jumbotron{
  opacity: 0.9;
  border-radius: 1px;
}
.launcher-toolbar > nav.navbar-inverse {
  background: black;
}
.container-fluid {
  max-width: 1920px;
}
.tab-content {
  background-color: rgba(255, 255, 255, 0.90);
  border-width: 0px 1px 1px 1px !important;
  border-color: silver !important;
  border-style: solid;
}

.nav-tabs li a{
  background: rgba(238, 238, 238, 0.85);
}
.nav-tabs li:nth-child(2).active a{
  background: #BCBCD0 !important;
  border-width: 0 15px 1px 0 !important;
  border-color: #BCBCBC;
}

.btn {
    border-radius: 0px !important;
}

.btn.btn-primary-hd {
  background-image: -webkit-linear-gradient(top, #5320BB 0%, #265a88 100%);
  background-image: -o-linear-gradient(top, #5320BB 0%, #265a88 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
  background-image: linear-gradient(to bottom, #5320BB 0%, #265a88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #245580;
}

.btn.btn-primary-hd, 
.btn.btn-warning-hd, 
.btn.btn-info-hd {
  border-radius: 0; 
  border: 1px solid black;
  outline: 0;
  color: rgb(219, 219, 219)
}
.btn.btn-primary-hd:hover,
.btn.btn-warning-hd:hover,
.btn.btn-info-hd:hover
{
  border: 1px solid black;
  outline: 0;
  color: white;
}
/* REFACTOR BTN */
.panel > .panel-heading button{
  border-radius: 0 15px 0px 0px;
  border: 1px solid;
  background: silver;
  outline: 0;
}
.panel > .panel-heading button:hover{
  border-radius: 0 15px 0px 0px;
  border: 1px solid black;
  outline: 0;
  background: white;
  color: black;
}
.panel > .panel-heading button:active{
  border: 1px solid yellow;;
  background: white;
  color: yellow;
}

span.isa_error {
    color: red
}
/* _____________ BOOTSTRAP OVERWRITTEN END _____________ */

/* ----------------- LAUNCHER TOOLBAR -------------------*/
.launcher-toolbar > nav.navbar-inverse div.toolbar-close-btn {
  padding: 0 5px;
  color: white;
  background: red;
  cursor: pointer;
}
.launcher-toolbar > nav.navbar-inverse div.toolbar-kiosk-btn {
  margin: 0 5px;
  padding: 0 5px;
  color: white;
  background: slateblue;
  cursor: pointer;
}
.launcher-toolbar > nav.navbar-inverse div.update-info {
  width: 120px;
  background: rgba(132, 132, 132, 0.5);
  outline: 1px solid silver;
  color: white;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 8pt;
  text-align: center;
}
.launcher-toolbar > nav.navbar-inverse div.update-info>div.progress-line {
  background-color: rgb(219, 102, 13); 
  height: 10px;
  border-style:solid;
  border-color:silver;
  border-width: 0 1px 0 1px;
}


.launcher-panel-bottom {
  position: absolute; 
  bottom: 0; 
  height: 5px; 
  width: 100%; 
  background: black;
  color: white;
  opacity: 0.9;
  transition: height 0.5s ease-in-out;
}
.launcher-panel-bottom:hover {
  height: 200px;
  transition: height 0.5s ease-in-out;
}

.launcher-panel-left {
  position: absolute; 
  left: 0; 
  top: 0;
  width: 5px; 
  height: 100%; 
  padding-top: 50px;
  background: black;
  color: white;
  opacity: 0.9;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}
.launcher-panel-left:hover {
  width: 200px;
  transition: width 0.5s ease-in-out;
}
/* _______________ LAUNCHER TOOLBAR END _________________*/

.modal-dialog.modal-fullwidth {
  width: 95%;
  margin-top: 20px;

  div.modal-content {
    overflow: auto;
  }
}

/* _______________ Config Editor  _______________ */
div.config-editor-search {
    width: 100%;
    height: 25px;

    input {
      text-align: center;
      width : 100%;
    }
}
div.config-editor {
    height: 610px;
    overflow: auto;
}
div.config-editor-controls {
    width: 100%;
    height: 30px;
    border-top: 1px solid silver;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
