<div class="container-fluid news-view  animated zoomIn">
  
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1>News</h1>
        <uib-tabset justified="true">
          <uib-tab heading="All News">
              <!--news entries start-->
              <div class="row" ng-repeat="entry in news.newsList">
                  <div class="col-md-12">
                    <h2>{{entry.title}}<sup>{{entry.time}}</sup></h2>
                    <p>{{entry.content}}</p>
                  </div>
              </div>
              <!--news entries end -->
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
</div>
