<div class="container-fluid games-view"  ui-view>
  <!-- row start -->
  <div class="row" >
    <div class="col-md-4">
      <div class="games-option tournaments animated slideInDown">
        <h1 class="text-center">Tournaments</h1>           
      </div>
    </div> 
    <div class="col-md-4">
      <div class="games-option championships custom-option animated slideInDown">
        <h1 class="text-center">Championships</h1>           
      </div>
    </div> 
    <div class="col-md-4">
      <a ui-sref="base.games.custom">
        <div class="games-option custom animated slideInDown">
          <h1 class="text-center">Custom</h1>           
        </div>
      </a>
    </div> 
  </div>
  <!-- row end -->
  <!-- row start -->
  <div class="row animated fadeInDown">  
    <div class="col-md-4">
      <div class="panel panel-primary text-center"><h4>Tournaments Related Staff:</h4></div>
      <div class="list-group">
        <a ui-sref="base.games:{{ tournament.name }}" class="list-group-item" ng-repeat="tournament in games.getRecentTournaments() | orderBy:'id'">
          <h4 class="list-group-item-heading">{{ tournament.name }} Tournament</h4>
          <p class="list-group-item-text">{{ tournament.players }}...</p>
        </a>
      </div>
    </div> 
    <div class="col-md-4">
      <div class="panel panel-primary text-center"><h4>Championships Related Staff:</h4></div>
      <div class="list-group">
        <a ui-sref="base.games:{{ championship.name }}" class="list-group-item" ng-repeat="championship in games.getRecentChampionships() | orderBy:'id'">
          <h4 class="list-group-item-heading">{{ championship.name }} Championship</h4>
          <p class="list-group-item-text">{{ championship.players }}...</p>
        </a>
      </div>
    </div> 
    <div class="col-md-4" >
      <div class="panel panel-primary text-center"><h4>Custom Games Related Staff:</h4></div>
      <div class="list-group">
        <a ui-sref="base.games:{{ championship.name }}" class="list-group-item" ng-repeat="game in games.getRecentCustomGames() | orderBy:'id'">
          <h4 class="list-group-item-heading">{{ game.name }} Custom Game</h4>
          <p class="list-group-item-text">{{ game.players }}...</p>
        </a>
      </div>
    </div>   
  </div>
  <!-- row end -->
</div>
