<div class="container-fluid teams-view  animated zoomIn" ui-view>
  
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <div class="page-header">
          <button class="btn btn-default pull-right" ui-sref="base.teams.create">Delete</button>
          <button class="btn btn-default pull-right" ui-sref="base.teams.create">Create</button>
        </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="team in base.teams | limitTo : teamsCtrl.paging.limit : teamsCtrl.paging.start">
                <span class="badge">{{team.score}}</span> {{team.name}}
              </li>        
            </ul>
            <div class="badge pull-right"> {{teamsCtrl.paging.current}} / {{base.teams.length}}</div>
            <pagination total-items="base.teams.length" items-per-page="teamsCtrl.paging.limit"
                        ng-model="teamsCtrl.paging.current" 
                        ng-change="teamsCtrl.pageChanged()">
            </pagination>
            

      </div>
    </div>
  </div>
</div>
