<div class="config-editor-search">
    <input type="text" placeholder="search text" ng-model="model.searchText" />
</div>
<div class="config-editor">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Type</th><th>Key</th><th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="line in model.configData | filter:model.searchText" ng-click="editConfig(line.id)" title="{{line.commentary}}">
                <td>
                    <span  ng-hide="line.id==model.selected">{{line.type}}</span>
                    <input ng-hide="line.id!=model.selected" type="text" ng-model="model.configData[line.id].type" />
                </td>
                <td>
                    <span ng-hide="line.id==model.selected">{{line.key}}</span>
                    <input ng-hide="line.id!=model.selected" type="text" ng-model="model.configData[line.id].key" />
                </td>
                <td>
                    <span ng-hide="line.id==model.selected">{{line.value}}</span>
                    <input ng-hide="line.id!=model.selected" type="text" ng-model="model.configData[line.id].value" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="config-editor-controls">
    <button class="btn btn-xs btn-primary" type="button" ng-click="saveConfig()">Save</button>
    <button class="btn btn-xs btn-primary" type="button" ng-click="reset()">Reset Selection</button>
    <button class="btn btn-xs btn-primary" type="button" ng-click="dismiss()">Close</button>
</div>