<!-- Loader GIF -->
<div class="loading" ng-show="showLoaderGIF">
    <img src="_assets/img/ajax-loader.gif" alt="">
</div>

<div class="modal-header">
    <h3 class="modal-title">Log-In</h3>
</div>

<div class="modal-body">
    <form class="bs-example bs-example-form" role="form" name="loginForm" novalidate ng-submit="Login()">
        <button type="button" class="btn btn-primary btn-block" ng-click="loginFacebook()">Login by facebook</button>

        <div>or</div>  
        <!-- Errors -->
        <div ng-show="unlockErrors"> 
            <span class="isa_error full-width" ng-show="loginForm.email.$error.required">
                *Email Required
            </span>
            <span class="isa_error full-width" ng-show="loginForm.email.$error.pattern">
                *Invalid Email
            </span>
        </div>
        <div class="input-group input-group-fluid">
            <input type="text" class="form-control" placeholder="Email" name="email" ng-model="email" ng-required="true">
        </div>
               
        <!-- Errors -->
        <div ng-show="unlockErrors"> 
            <span class="isa_error full-width" ng-show="loginForm.password.$error.required">
                *Password Required
            </span>
        </div>
        <div class="input-group input-group-fluid">
            <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" ng-required="true">
        </div>
                
        <br>
        <!--<div class="input-group input-group-fluid">
            <span class="input-group-addon">
                <input type="checkbox" aria-label="..." ng-model="remainSigned">
            </span>
            <span  class="input-group-addon">remain signed in</span>
        </div>-->
        
        
        <!--
        <hr>    
        <div class="input-group input-group-fluid">
            <button class="btn btn-info" ng-click="ForgotPassword()">Forgot</button> 
            <span class="input-group-addon">Forgot your<br>password?</span>
        </div>-->
        
        <!--<div class="isa_warning" ng-hide="!unlockErrors || loginForm.$valid">Not enough data to proceed.</div>-->
        <span class="isa_warning full-width" >{{responseError}}</span>
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="unlockErrors && !loginForm.$valid">Login</button>
    </form>
</div>