<div class="modal-body">
    <span class="isa_warning full-width text-center">{{msg}}</span>
    <br>
    <button type="submit" class="btn btn-primary btn-block" ng-click="dismiss()">OK</button>
</div>