<!-- Loader GIF -->
<div class="loading" ng-show="showLoaderGIF">
    <img src="assets/images/ajax-loader.gif" alt="">
</div>

<!-- Modal View HTML -->

<form class="bs-example bs-example-form" role="form"  name="signupForm" novalidate ng-submit="Signup()">
<div class="modal-header">
    <h3 class="modal-title">Sign-Up Customer</h3>
</div>
<div class="modal-body" ng-hide="isSuccessfullSignup">
        <!--<button type="button" class="btn btn-primary btn-block" ng-click="signupFacebook()">Signup by facebook</button>
        
        <div>or</div>  
        -->
        <!--Login------------------------------------------------------------------------------------------>
            <div ng-show="unlockErrors">  <!-- Errors -->
                <span class="isa_error full-width" ng-show="signupForm.login.$error.required">
                    *Login required
                </span>
                <span class="isa_error full-width" ng-show="signupForm.login.$error.pattern">
                    *Invalid Login
                </span>
            </div>
            <div class="input-group input-group-fluid">  <!-- Controls -->
                <span class="input-group-addon">
                    <select ng-model="sex" class="form-control" ng-init="sex='Mr.'">
                        <option value="Mr.">Mr.</option>
                        <option value="Ms.">Ms.</option>
                    </select>
                </span>
                <span class="input-group-addon">
                    <input type="text" class="form-control" name="login" placeholder="login" 
                        ng-model="login" ng-minLength="2" ng-maxlength="32" ng-pattern="/^(\D)+$/" ng-required="true">
                </span>
            </div>

        <!--Country and City------------------------------------------------------------------------------------------------>
            <!-- Errors -->
            <div ng-show="unlockErrors"> 
                <span class="isa_error full-width" ng-show="signupForm.country.$error.required">
                    *Country required
                </span>
                <span class="isa_error full-width" ng-show="signupForm.country.$error.pattern">
                    *Invalid Zip Code
                </span>
                <span class="isa_error full-width" ng-show="signupForm.city.$error.required">
                    *City required
                </span>
                <span class="isa_error full-width" ng-show="signupForm.city.$error.pattern">
                    *Invalid City Name
                </span>
            </div>
            <!-- Controls -->
            <div class="input-group input-group-fluid">
                <span class="input-group-addon">
                    <input type="text" class="form-control" name="country" placeholder="country" 
                        ng-model="country" ng-pattern="/^([a-zA-Z\x7f-\xff]){2,16}$/" ng-required="true">
                </span>
                <span class="input-group-addon">
                    <input type="text" class="form-control" name="city" placeholder="City" 
                        ng-model="city" ng-pattern="/^([a-zA-Z\x7f-\xff]){2,16}$/" ng-required="true">
                </span>
            </div>  

        <!-- Email  ------------------------------------------------------------------------------------------------>
            <!-- Errors -->
            <div ng-show="unlockErrors"> 
                <span class="isa_error full-width" ng-show="signupForm.email.$error.required">
                    *Email Required
                </span>
                <span class="isa_error full-width" ng-show="signupForm.email.$error.pattern">
                    *Invalid Email
                </span>
            </div>
            <div class="input-group input-group-fluid">
                <input type="text" class="form-control" name="email" placeholder="Email" 
                    ng-model="email" ng-required="true" ng-pattern="/^[A-Za-z0-9._]+@[A-Za-z0-9.]+\.[A-Za-z]{2,4}$/">
            </div>
        
        <!-- PASSWD  ------------------------------------------------------------------------------------------------>
            <!-- Errors -->
            <div ng-show="unlockErrors"> 
                <span class="isa_error full-width" ng-show="signupForm.password.$error.required">
                    *Password Required
                </span>
                <span class="isa_warning full-width" ng-show="signupForm.password.$error.pattern">
                    *Minimal Password length is 6, maximum - 64
                </span>
                <span class="isa_error full-width" ng-show="signupForm.passwordCheck.$error.required">
                    *Password Repeat Required
                </span>
                <span class="isa_error full-width" ng-show="password!=passwordCheck">
                    *Passwords does not match
                </span>
            </div>
            <div class="input-group input-group-fluid">
                <input type="password" class="form-control" name="password" placeholder="Password" 
                    ng-pattern="/^.{6,64}$/" ng-model="password" ng-required="true">
            </div>
            <div class="input-group input-group-fluid">
                <input type="password" class="form-control" name="passwordCheck" placeholder="Password Confirmal" 
                    ng-minLength="6" ng-model="passwordCheck" ng-required="true">
            </div>

        <!-- Remain Signed In---------------------------------------------------------------------------------------->
        <!--<div class="input-group input-group-fluid">
            <span class="input-group-addon">
                <input type="checkbox" aria-label="..." ng-model="remainSignedIn">
            </span>
            <span  class="input-group-addon">remain signed in</span>
        </div>-->
</div>
<div class="modal-footer" ng-hide="isSuccessfullSignup">
        <span class="isa_warning full-width" ng-hide="!unlockErrors || signupForm.$valid && (password==passwordCheck)">Form is invalid. Please, check if data correct.</span>
        <span class="isa_warning full-width" >{{responseError}}</span>
        <span class="isa_error full-width" >{{responseFailureMessage}}</span>
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="unlockErrors && (!signupForm.$valid || (password!=passwordCheck))">Sign-Up</button>
</div>
</form>
<!-- Customer Signup Form End -->

<!-- Customer Signup Success Message -->
<div ng-show="isSuccessfullSignup" class="full-width text-center"> 
    <div>
        {{responseSuccessMessage}}<br>
        Please, check your email to complete registration.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-block" ng-click="Dismiss()">OK</button>
    </div>
</div>
<!-- Customer Signup Success Message End -->
