<!-- <div.games_view> ui-view -->
  <div class="custom-games_view" ui-view>
    <!-- row start -->
    <div class="row">
      <div class="col-md-12 animated fadeInDown">
        <div class="jumbotron text-center">
          <h1 class="lead animated infinite">Custom Games</h1>
        </div>
      </div>
    </div>
    <!-- row end -->
    <!-- row start -->    
    <div class="row">
      <div class="col-md-6 map animated fadeInDown">
        <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="customGames.Create()">Create Custom Game</button>
        <br>
        <button type="button" class="btn btn-block btn-lg btn-info" ng-click="customGames.Join()">Join Custom Game </button>
        <br>
        <button type="button" class="btn btn-block btn-lg btn-warning" ng-click="customGames.Watch()">Watch Custom Game </button>     
      </div>
      <div class="col-md-6 map animated fadeInDown">
        <div class="panel panel-primary text-center"><h4>Recent Custom Games List:</h4></div>
        <div class="list-group">
          <a ui-sref="base.games.custom:{{ server.name }}" class="list-group-item" ng-repeat="server in customGames.recentServers() | orderBy:'id'">
            <h4 class="list-group-item-heading">{{ server.name }} Server</h4>
            <p class="list-group-item-text">{{ server.players }}...</p>
          </a>
        </div>
      </div>
    </div>  
    <!-- row end -->
  </div>
<!-- </div.games_view> -->
