<div class="container-fluid teams-view  animated zoomIn">
  
  <div class="row">
    <div class="col-sm-12 bg-warning">
        <hr>
        <label>Name:<input ng-model="createCtrl.name"></label><br>
        <label>Info<input ng-model="createCtrl.info"></label><br>
        <label>Leader ID<input ng-model="createCtrl.leaderID"></label><br>
        <label>Assistant ID<input ng-model="createCtrl.assistantID"></label><br>
        <button ng-click="createCtrl.Create()">Create Team</button>
        <hr>
    </div>
  </div>
</div>
