<div class="container-fluid statistics-view  animated zoomIn">
  
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron text-center">
        <h1>Statistics</h1>
      </div>
    </div>
  </div>
</div>
