<div class="launcher-toolbar" ng-include="'app/components/navbar/navbar.html'"></div>
<div ui-view id="page-content-wrapper"></div>

<div class="launcher-panel-left">
    <div class="container-fluid">
        <div style="width: 185px; padding-right: 5px; max-height: 620px; overflow: auto" ng-show="base.isChatOnline">
            <h2 style="background: #002;">Friends</h2>
            <uib-accordion close-others="true" >
              <uib-accordion-group ng-repeat="friend in base.friends" heading="{{ friend.name }}" panel-class="panel-primary" is-open="false" is-disabled="false">
                {{ friend.status }}
              </uib-accordion-group>
            </uib-accordion> 
        </div>
        <div style="width: 185px; padding-right: 5px; max-height: 620px; overflow: auto" ng-hide="base.isChatOnline">
            <p>Temporarily anavaliable,<br>
            please, try again later</p>
        </div>
    </div>
</div>

<div class="launcher-panel-bottom">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-4">
                <a ui-sref="base.teams">
                <div class="teams">
                    <p class="text-center">TEAMS</p>
                    <ul class="list-group">
                    <li class="list-group-item" ng-repeat="team in base.teams | limitTo: 3"><span class="badge">{{team.score}}</span> {{team.name}}</li>        
                    </ul>
                </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a ui-sref="base.players">
                <div class="players">
                    <p class="text-center">PLAYERS</p>
                    <ul class="list-group">
                    <li class="list-group-item" ng-repeat="player in base.players | limitTo: 3"><span class="badge">{{player.score}}</span> {{player.name}}</li>
                    </ul>
                </div>
                </a>       
            </div>
            <div class="col-sm-4">
                <div class="players">
                    <p class="text-center">INFO</p>
                    <p>Nice to see you here, {{base.getUserData().login}}</p>
                    <p>This is prototype version of Adrenaline Tournament Launcher.</p>
                </div>    
            </div>
        </div>
    </div>
</div>